<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% if user.is_authenticated %}
    <p><a href="{% url 'analyse' %}"> {{menu.analyse}}</a> | <a href="{% url 'upload' menu.id%}"> {{menu.upload}}</a></p>

<h1> {{ title| upper }} </h1>
<ul>
    {% for p in posts %}
    <li>
        <b>id: {{ p.id }}</b>
        <p>{{ p.image }}</p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<p><a href="{% url 'logout' %}">Выход из системы</a></p>
{% else %}
    <p>You are not logged in. <a href="{% url 'login' %}">Login here</a>.</p>
{% endif %}
</body>
</html>