{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<h1> {{ title| upper }} </h1>
    <div>
        {% for image in images %}
        <li>
            <b>id: {{ image.title }} </b>
            <div style="margin-bottom: 20px;">
                <img src="{{ image.url }}" alt="{{ image.title }}" style="max-width: 300px; max-height: 300px;">
                <hr>
            </div>
        </li>
        {% empty %}
            <p>No images found.</p>
        {% endfor %}
    </div>
{% else %}
    <p>You are not logged in. <a href="{% url 'login' %}">Login here</a>.</p>
{% endif %}
{% endblock %}
